.admin-chat-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f0f2f5;
}

.admin-chat-header {
  background: #065f46;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.admin-chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.bubble-left,
.bubble-right {
  max-width: 70%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 14px;
  display: inline-block;
}

.bubble-left {
  background: white;
  color: black;
  margin-right: auto;
}

.bubble-right {
  background: #0d9488;
  color: white;
  margin-left: auto;
}

.bubble-time {
  font-size: 11px;
  margin-top: 5px;
  opacity: 0.7;
  text-align: right;
}

.admin-chat-input {
  display: flex;
  padding: 10px;
  background: white;
  border-top: 1px solid #ccc;
}

.admin-chat-input input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.admin-chat-input button {
  background: #0d9488;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}
